
<div class = "contact-display">
  <div class ="contact-counter">
  <h1>There are <%= Contact.all.count %> Contact(s) </h1>
  </div>

    <ul class = "contact-list">
    <% Contact.all.each do |contact| %>
      <li class = "contact"><%= contact.first_name %> <%= contact.last_name %> <%="(#{contact.email})"%><footer class ="contact-footer">Edit | Delete </footer></li>

    <% end %>
    </ul>
</div>
