<h1>Create new Contact</h1>

<form action='/contacts' method='post'>
  First name: <br>
  <input type='text' name='first_name'>
  <br>
  Last name: <br>
  <input type='text' name='last_name'>
  <br>
  Email: <br>
  <input type='text' name='email'>
  <br>
  Note: <br>
  <input type='text' name='note'>
  <br>
  <input type='submit' value='New Contact'>
  <br>
</form>
